@mixin fluid-type($min-font-size: 12px, $max-font-size: 21px, $lower-range: 768px, $upper-range: 1200px) {
  $font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  font-size: $font-size;

  @media screen and (max-width: $lower-range) {
    // mobile layout
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    // desktop XL
    font-size: $max-font-size;
  }
}

@mixin fluid-line-height($min-height: 12px , $max-height: 21px, $lower-range: 768px, $upper-range: 1200px) {
  $line-height: calc(#{$min-height} + #{(($max-height / ($max-height * 0 + 1)) - ($min-height / ($min-height * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  line-height: $line-height;

  @media screen and (max-width: $lower-range) {
    // mobile layout
    line-height: $min-height;
  }
  @media screen and (min-width: $upper-range){
    // desktop XL
    line-height: $max-height;
  }
}
