@import '_constants.scss';
@import '_mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  min-height: 100vh;
  justify-content: space-around;
}

.letter {
  font-family: 'Roboto';
  margin: 0;
  text-transform: uppercase;
  // font-size: 4rem;
  color: #F9D342;
  @include fluid-type(40px, 100px, 400px, 1800px);
}