.app {
  background-color: #292826;
}

.header {
  max-width: 900px;
}

.main {
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sidebar {
  flex: 15% 0 0;
}

.content {
  flex: 85% 1 1;
} 